body {
    background: #212B37;
    background: radial-gradient(at left center, #212B37, #000000);
    display: flex;
    justify-content: center;
    align-items: center;
}

.button {
    height: 100px;
    width: 100px;
    border: none;
    color: rgba(255, 0, 0, 0);
    box-shadow: 0px 0px 12px 2px #9c9c9c;
}

.button:hover {
    box-shadow: 0px 0px 18px 7px #94dba4;
    cursor: pointer;
}

.button:active {
    background-color: #3e8e41;
    box-shadow: 0 5px #020202;
    transform: translateY(4px);
}

.rock-button {
    background: url("./images/rock-image.jpg");
    background-size: contain;
}

.scissors-button {
    background: url("./images/scissors-image.jpg");
    background-size: contain;
}

.paper-button {
    background: url("./images/paper-image.jpg");
    background-size: contain;
}

.main-container {
    width: 1000px;
    height: 650px;
    background-image: linear-gradient(to bottom, #11191c, black);
    display: flex;
    flex-direction: column;
    margin-top: 15px;
    border-right: solid grey 2px;
    border-top: solid grey 2px;
    border-image: linear-gradient(to left, grey, black) 1;
}

.title-container {
    height: 40px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    background-color: black;
    border-bottom: solid grey 2px;
}

.title-text {
    font-size: 30px;
    color: black;
    background-color: #94dba4;
    font-family: 'Silkscreen', cursive;
    padding: 0px 20px 0px 20px;
    transform: skew(-14deg);
    margin-left: 5px;
}

.interface-container {
    width: 1000px;
    height: 610px;
    display: flex;
}

.choice-container {
    width: 200px;
    display : flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    gap: 20px;
    border-bottom: solid grey 2px;
    border-left: solid grey 2px;
}

.btn-housing {
    width: 175px;
    height: 175px;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    border: solid rgb(174, 174, 174) 1px;
}

.display-container {
    width: 800px;
    height: 610px;
    display: flex;
    flex-direction: column;
}

.computer-container {
    width: 800px;
    height: 366px;
    display: flex;
    border-right: solid grey 2px;
}

.computer-monitor-container {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    width: 533px;
    height: 366px;
}

.computer-monitor {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    border: solid rgb(174, 174, 174) 1px;
    width: 385px;
    height: 342px;
}

.computer-image {
    background: url("./images/robot-image.jpg");
    background-size: contain;
    box-shadow: 0px 0px 12px 4px #9c9c9c;
    width: 200px;
    height: 200px;
}

.rock-image {
    background: url("./images/rock-image.jpg");
    background-size: contain;
}

.paper-image {
    background: url("./images/paper-image.jpg");
    background-size: contain;
}

.scissors-image {
    background: url("./images/scissors-image.jpg");
    background-size: contain;
}

.print-out-container {
    width: 267px;
    height: 368px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.score-container {
    height: 250px;
    width: 184px;
    background-color: black;
    border: solid rgb(174, 174, 174) 1px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.score-display {
    height: 200px;
    width: 150px;
    background-image: linear-gradient(to bottom, #9aafab, #cadad7);
    font-family: 'Silkscreen', cursive;
    overflow-wrap: break-word;
    font-size: 20px;
    box-shadow: 0px 0px 12px 2px #9c9c9c;
    padding: 5px;
}

.info-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 800px;
    height: 244px;
    border-right: solid grey 2px;
    border-bottom: solid grey 2px;
}

.results-container {
    background-color: black;
    border: solid rgb(174, 174, 174) 1px;
    width: 440px;
    height: 170px;
    margin-right: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.results-display {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    width: 370px;
    height: 110px;
    background-image: linear-gradient(to bottom, #9aafab, #cadad7);
    font-family: 'Silkscreen', cursive;
    font-size: 23px;
    box-shadow: 0px 0px 12px 2px #9c9c9c;
    padding: 5px;
}

.wiring-1 {
    width: 147px;
    height: 190px;
    border-bottom: solid #40c384 2px;
    border-top: solid #40c384 2px;
    align-self: flex-start;
    margin-top: 110px;
}

.wiring-2 {
    width: 240px;
    height: 135px;
    align-self: flex-start;
    border-bottom: solid #40c384 2px;
    border-right: solid #40c384 2px;
}

.wiring-3 {
    width: 75px;
    height: 80px;
    align-self: flex-start;
    border-bottom: solid #40c384 2px;
}

.wiring-4 {
    width: 43px;
    height: 150px;
    align-self: flex-start;
    border-bottom: solid #40c384 2px;
}

.modal {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.4rem;
    width: 450px;
    padding: 1.3rem;
    min-height: 250px;
    position: absolute;
    top: 20%;
    color: #9aafab;
    background-image: radial-gradient(at left center, #212B37, #000000);;
    border: 1px solid #ddd;
    border-radius: 15px;
    font-family: 'Silkscreen', cursive;
    font-size: 35px;
    z-index: 2;
}

.modal-btn {
    width: 300px;
    height: 55px;
    background-color: #40c384;
    color: black;
    font-family: 'Silkscreen', cursive;
    font-size: 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.modal-btn:active {
    transform: translateY(2px);
}

.overlay {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(3px);
    z-index: 1;
}

.hidden {
    display: none;
}

